zoo/markup/interface/xul/doslash/fetched/xulstructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
  targetNamespace="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">
  <xs:complexType name="broadcastersetElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:broadcaster"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="commandsetElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:command"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="keysetElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:key"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="popupsetElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:popup"/>
          <xs:element ref="xul:menupopup"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="stringbundlesetElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:stringbundle"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="broadcasterElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="commandElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="keyElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="observesElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="stringbundleElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="scriptElementType">
    <xs:complexContent>
      <xs:extension base="xul:InfoElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="arrowscrollboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="bboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="boxElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="captionElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="columnElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deckElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="hboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rowElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="scrollboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="stackElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="statusbarpanelElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tabpanelElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbaritemElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="vboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wizardpageElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="descriptionElementType">
    <xs:complexContent>
      <xs:extension base="xul:GenericContainerElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="autorepeatbuttonElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="browserElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="checkboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="colorpickerElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dialogheaderElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="editorElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="iframeElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="imageElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="labelElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="progressmeterElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tabbrowserElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="textboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="resizerElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="separatorElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="spacerElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="splitterElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="titlebarElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tooltipElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="textnodeElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listcolElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listheaderElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menuitemElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menuseparatorElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menulistElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="radioElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="scrollbarbuttonElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="sliderElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="thumbElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tabElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarbuttonElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarseparatorElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarspacerElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarspringElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treecellElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treecolElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treeseparatorElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="actionElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="bindingElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="bindingsElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="conditionsElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="contentElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="memberElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ruleElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="templateElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tripleElementType">
    <xs:complexContent>
      <xs:extension base="xul:RDFElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="columnsElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:column"/>
          <xs:element ref="xul:splitter"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="gridElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice>
          <xs:element ref="xul:columns"/>
          <xs:element ref="xul:rows"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="groupboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:caption"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:sequence>
          <xs:element ref="xul:listcols" minOccurs="1"/>
          <xs:element ref="xul:listhead" minOccurs="0"/>
          <xs:element ref="xul:listitem" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listitemElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice>
          <xs:element ref="xul:listcell" minOccurs="1" maxOccurs="unbounded"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menubarElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:menu"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menupopupElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:menu"/>
          <xs:element ref="xul:menuitem"/>
          <xs:element ref="xul:menuseparator"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="popupElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:menu"/>
          <xs:element ref="xul:menuitem"/>
          <xs:element ref="xul:menuseparator"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="radiogroupElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:radio"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rowsElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:row"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="statusbarElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:statusbarpanel"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tabboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:all>
          <xs:element ref="xul:tabs"/>
          <xs:element ref="xul:tabpanels"/>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tabsElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:tab"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:toolbaritem"/>
          <xs:element ref="xul:toolbarseparator"/>
          <xs:element ref="xul:toolbarspacer"/>
          <xs:element ref="xul:toolbarspring"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolboxElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:sequence>
          <xs:element ref="xul:toolbarpalette" minOccurs="0"/>
          <xs:element ref="xul:toolbarset" minOccurs="0"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treecolsElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:treecol"/>
          <xs:element ref="xul:splitter"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="buttonElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element ref="xul:image"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listcellElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listcolsElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:listcol"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listheadElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:listheader"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menuElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element ref="xul:menupopup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="scrollbarElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:scrollbarbutton"/>
          <xs:element ref="xul:slider"/>
          <xs:element ref="xul:thumb"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tabpanelsElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:tabpanel"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarpaletteElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:toolbarbutton"/>
          <xs:element ref="xul:toolbaritem"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="toolbarsetElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:toolbar"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treeElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:sequence>
          <xs:element ref="xul:treecols" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="xul:treechildren" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treechildrenElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xul:treeitem"/>
          <xs:element ref="xul:treeseparator"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treeitemElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:sequence>
          <xs:element ref="xul:treerow" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="xul:treechildren" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="treerowElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:sequence>
          <xs:element ref="xul:treecell" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XULElementType">
    <xs:attributeGroup ref="xul:XULAttributeGroup"/>
  </xs:complexType>
  <xs:complexType name="RDFElementType"/>
  <xs:complexType name="TopLevelElementType"/>
  <xs:complexType name="InfoElementType">
    <xs:complexContent>
      <xs:extension base="xul:XULElementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BoxElementType">
    <xs:complexContent>
      <xs:extension base="xul:XULElementType">
        <xs:attributeGroup ref="xul:BoxAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContainerElementType">
    <xs:complexContent>
      <xs:extension base="xul:BoxElementType">
        <xs:attributeGroup ref="xul:ContainerAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericContainerElementType">
    <xs:complexContent>
      <xs:extension base="xul:ContainerElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dialogElementType">
    <xs:complexContent>
      <xs:extension base="xul:TopLevelElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:dialogheader"/>
          <xs:group ref="xul:InfoContainerElementGroup"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
        <xs:attributeGroup ref="xul:XULAttributeGroup"/>
        <xs:attributeGroup ref="xul:BoxAttributeGroup"/>
        <xs:attributeGroup ref="xul:ContainerAttributeGroup"/>
        <xs:attributeGroup ref="xul:EventHandlerAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="overlayElementType">
    <xs:complexContent>
      <xs:extension base="xul:TopLevelElementType">
        <xs:sequence>
          <xs:any namespace="##targetNamespace" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
        <xs:attributeGroup ref="xul:IdAttributeGroup"/>
        <xs:attributeGroup ref="xul:EventHandlerAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pageElementType">
    <xs:complexContent>
      <xs:extension base="xul:TopLevelElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="xul:InfoContainerElementGroup"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
        <xs:attributeGroup ref="xul:XULAttributeGroup"/>
        <xs:attributeGroup ref="xul:BoxAttributeGroup"/>
        <xs:attributeGroup ref="xul:ContainerAttributeGroup"/>
        <xs:attributeGroup ref="xul:EventHandlerAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="windowElementType">
    <xs:complexContent>
      <xs:extension base="xul:TopLevelElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xul:resizer"/>
          <xs:group ref="xul:InfoContainerElementGroup"/>
          <xs:group ref="xul:BoxContainerElementGroup"/>
          <xs:group ref="xul:WidgetElementGroup"/>
        </xs:choice>
        <xs:attributeGroup ref="xul:XULAttributeGroup"/>
        <xs:attributeGroup ref="xul:BoxAttributeGroup"/>
        <xs:attributeGroup ref="xul:ContainerAttributeGroup"/>
        <xs:attributeGroup ref="xul:EventHandlerAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wizardElementType">
    <xs:complexContent>
      <xs:extension base="xul:TopLevelElementType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="xul:wizardpage"/>
            <xs:group ref="xul:InfoContainerElementGroup"/>
            <xs:group ref="xul:BoxContainerElementGroup"/>
            <xs:group ref="xul:WidgetElementGroup"/>
          </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="xul:XULAttributeGroup"/>
        <xs:attributeGroup ref="xul:BoxAttributeGroup"/>
        <xs:attributeGroup ref="xul:ContainerAttributeGroup"/>
        <xs:attributeGroup ref="xul:EventHandlerAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="TopLevelElementGroup">
    <xs:choice>
      <xs:element ref="xul:dialog"/>
      <xs:element ref="xul:overlay"/>
      <xs:element ref="xul:page"/>
      <xs:element ref="xul:window"/>
      <xs:element ref="xul:wizard"/>
    </xs:choice>
  </xs:group>
  <xs:group name="InfoContainerElementGroup">
    <xs:choice>
      <xs:element ref="xul:broadcasterset"/>
      <xs:element ref="xul:commandset"/>
      <xs:element ref="xul:keyset"/>
      <xs:element ref="xul:popupset"/>
      <xs:element ref="xul:script"/>
      <xs:element ref="xul:stringbundleset"/>
    </xs:choice>
  </xs:group>
  <xs:group name="BoxContainerElementGroup">
    <xs:choice>
      <xs:element ref="xul:arrowscrollbox"/>
      <xs:element ref="xul:bbox"/>
      <xs:element ref="xul:box"/>
      <xs:element ref="xul:deck"/>
      <xs:element ref="xul:grid"/>
      <xs:element ref="xul:groupbox"/>
      <xs:element ref="xul:hbox"/>
      <xs:element ref="xul:menubar"/>
      <xs:element ref="xul:popup"/>
      <xs:element ref="xul:radiogroup"/>
      <xs:element ref="xul:scrollbox"/>
      <xs:element ref="xul:stack"/>
      <xs:element ref="xul:statusbar"/>
      <xs:element ref="xul:tabbox"/>
      <xs:element ref="xul:toolbar"/>
      <xs:element ref="xul:toolbox"/>
      <xs:element ref="xul:tooltip"/>
      <xs:element ref="xul:tree"/>
      <xs:element ref="xul:vbox"/>
    </xs:choice>
  </xs:group>
  <xs:group name="WidgetElementGroup">
    <xs:choice>
      <xs:element ref="xul:browser"/>
      <xs:element ref="xul:button"/>
      <xs:element ref="xul:checkbox"/>
      <xs:element ref="xul:colorpicker"/>
      <xs:element ref="xul:description"/>
      <xs:element ref="xul:iframe"/>
      <xs:element ref="xul:label"/>
      <xs:element ref="xul:listbox"/>
      <xs:element ref="xul:menulist"/>
      <xs:element ref="xul:spacer"/>
      <xs:element ref="xul:splitter"/>
      <xs:element ref="xul:template"/>
      <xs:element ref="xul:textbox"/>
      <xs:element ref="xul:titlebar"/>
      <xs:element ref="xul:toolbarbutton"/>
    </xs:choice>
  </xs:group>
  <xs:element name="autorepeatbutton"/>
  <xs:element name="scrollbarbutton"/>
  <xs:element name="slider"/>
  <xs:element name="thumb"/>
</xs:schema>
